/* =========================
   HEADER (WRAPPER EXTERNO)
========================= */
.header {
  position: sticky;
  top: 0;
  z-index: 9999;


  /* Negro profundo PERO translúcido */
  background: rgba(5, 3, 4, 0.55);

  backdrop-filter: blur(18px) saturate(190%);
  -webkit-backdrop-filter: blur(18px) saturate(190%);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

  transition:
    background 0.25s ease,
    backdrop-filter 0.25s ease,
    box-shadow 0.25s ease;
}


/* Estado glass al hacer scroll */
.header.glass {
  background: rgba(5, 3, 4, 0.42);

  backdrop-filter: blur(22px) saturate(210%);
  -webkit-backdrop-filter: blur(22px) saturate(210%);

  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.45);
}
/* =========================
   INNER HEADER (1200px)
========================= */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.9rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========================
   LOGO
========================= */
.logo {
  max-width: 160px;
  width: 100%;
  height: auto;
}

/* =========================
   NAV DESKTOP
========================= */
.menu {
  display: flex;
}

.container_item {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  text-decoration: none;
  font-size: 0.95rem;
  color: #a7a2a2;
  transition: color 0.25s ease;
  text-transform: capitalize;
}

.item:hover {
  color: #ffffff;
}


@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .inner{
    justify-content: center;
    position: relative;

  }
}
