---
import Style from "../css/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com" rel="stylesheet" />

    <meta name="generator" content={Astro.generator} />
    <title>Landing pages</title>
  </head>
  <body class={Style}>
    <Header />
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<script is:inline>
  const sections = document.querySelectorAll("section");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("section-visible");
        } else {
          entry.target.classList.remove("section-visible");
        }
      });
    },
    {
      threshold: 0.15,
      rootMargin: "0px 0px -50px 0px",
    },
  );

  sections.forEach((section) => observer.observe(section));
</script>
